lab-material/BusinessRules/service_interface/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--File EmployeeService.wsdl, shared library EmployeeServiceInterface--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="EmployeeService" targetNamespace="http://EmployeeService" xmlns:bons1="http://sample/iibadmin" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://EmployeeService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="EmployeeServiceHttpBinding" originalBindingStyle="document"/>
        <generatedXSD location="EmployeeService_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  <wsdl:types>
    
        <xsd:schema targetNamespace="http://EmployeeService">
            <xsd:import namespace="http://sample/iibadmin" schemaLocation="EmployeeService-0.xsd"/>
            <xsd:import namespace="http://sample/iibadmin" schemaLocation="EmployeeService-0.xsd"/>
            <xsd:import namespace="http://sample/iibadmin" schemaLocation="EmployeeService-0.xsd"/>
            <xsd:import namespace="http://sample/iibadmin" schemaLocation="EmployeeService-0.xsd"/>
            <xsd:import namespace="http://sample/iibadmin" schemaLocation="EmployeeService-0.xsd"/>
            <xsd:include schemaLocation="EmployeeService-1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="getEmployeeRequestMsg">
    <wsdl:part element="tns:getEmployee" name="getEmployeeParameters"/>
  </wsdl:message>
  <wsdl:message name="getEmployeeResponseMsg">
    <wsdl:part element="tns:getEmployeeResponse" name="getEmployeeResult"/>
  </wsdl:message>
    <wsdl:message name="updEmployeeRequestMsg">
    <wsdl:part element="tns:updEmployee" name="updEmployeeParameters"/>
  </wsdl:message>
    <wsdl:message name="updEmployeeResponseMsg">
    <wsdl:part element="tns:updEmployeeResponse" name="updEmployeeResult"/>
  </wsdl:message>
    <wsdl:message name="checkBonusRequestMsg">
    <wsdl:part element="tns:checkBonus" name="checkBonusParameters"/>
  </wsdl:message>
    <wsdl:message name="checkBonusResponseMsg">
    <wsdl:part element="tns:checkBonusResponse" name="checkBonusResult"/>
  </wsdl:message>
    <wsdl:portType name="EmployeeService">
    <wsdl:operation name="getEmployee">
      <wsdl:input message="tns:getEmployeeRequestMsg" name="getEmployeeRequest"/>
      <wsdl:output message="tns:getEmployeeResponseMsg" name="getEmployeeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="updEmployee">
      <wsdl:input message="tns:updEmployeeRequestMsg" name="updEmployeeRequest"/>
      <wsdl:output message="tns:updEmployeeResponseMsg" name="updEmployeeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="checkBonus">
      <wsdl:input message="tns:checkBonusRequestMsg" name="checkBonusRequest"/>
      <wsdl:output message="tns:checkBonusResponseMsg" name="checkBonusResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="EmployeeServiceHttpBinding" type="tns:EmployeeService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction="http://EmployeeService/getEmployee"/>
            <wsdl:input name="getEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="getEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="updEmployee">
            <soap:operation soapAction="http://EmployeeService/updEmployee"/>
            <wsdl:input name="updEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="updEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="checkBonus">
      <soap:operation soapAction="http://EmployeeService/checkBonus"/>
      <wsdl:input name="checkBonusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkBonusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="EmployeeServiceHttpService">
    <wsdl:port binding="tns:EmployeeServiceHttpBinding" name="EmployeeServiceHttpPort">
      <soap:address location="http://192.168.126.165:7800/EmployeeService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>