lab-material/BusinessRules/service_interface/EmployeeService-1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File EmployeeService_InlineSchema1.xsd, shared library EmployeeServiceInterface--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EmployeeService" xmlns:Q1="http://sample/iibadmin" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://EmployeeService">
    <xsd:import namespace="http://sample/iibadmin" schemaLocation="EmployeeService-0.xsd"/>
    <xsd:element ibmSchExtn:docRoot="true" name="getEmployee">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="Q1:EMPLOYEE"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="getEmployeeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="Q1:EmployeeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="updEmployee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Q1:EMPLOYEE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="updEmployeeResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Q1:EmployeeResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="checkBonus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Q1:EMPLOYEE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="checkBonusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Q1:EMPLOYEE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>